Flask==3.0.0
Werkzeug==3.0.1
Pillow==10.1.0
pyzbar==0.1.9
opencv-python==4.8.1.78
numpy==1.26.2
scikit-image==0.22.0
pyzbar[scripts]==0.1.9
qrcode==7.4.2
python-barcode==0.15.1
pyaztec==0.1.0
datamatrix==0.0.1













